@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

/* General Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.logo img {
    height: 50px;
    width: auto;
}

.site-name {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    color: #4F868D;
    white-space: nowrap;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    background-color: #ECE6F0;
    border: none;
    padding: 8px;
    border-radius: 5px;
    width: 150px;
    font-family: 'Comfortaa', sans-serif; /* Add this line */
}

.search-bar button {
    display: none; 
}

/* Navigation Styles */
.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    background-color: #F6E6D8;
    border-radius: 10px;
    padding: 8px 12px;
    font-family: 'Comfortaa', sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .search-bar input {
        width: 100%;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .nav-links li {
        display: block;
        text-align: center;
        width: 100%;
    }
}