<header>
    <nav class="navbar">
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/images/logo.png" alt="PAC Logo">
            </a>
        </div>
        <a href="index.html">
            <div class="site-name">Pallas-Athena Cain</div>
        </a>
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Search...">
            <button type="button" id="search-button" style="display: none;">🔍</button>
        </div>
        <ul class="nav-links">
            <li><a href="../about.html">About</a></li>
            <li><a href="../blog/index.html">Blog</a></li>
            <li><a href="../art_portfolio/index.html">Art Portfolio</a></li>
            <li><a href="../cs_projects/index.html">CS Projects</a></li>
            <li><a href="../inspirations/index.html">Inspirations</a></li>
        </ul>
    </nav>
</header>
